
<div id="menu">
  <%= button_tag "Voltage", class: "btn_form", id: "btn_voltage" %>
  <%= button_tag "Event", class: "btn_form", id: "btn_event" %>
  <%= button_tag "Info", class: "btn_form", id: "btn_info" %>
  <%= button_tag "Power", class: "btn_form", id: "btn_power" %>
  <%= button_tag "IPMI", class: "btn_form", id: "btn_lan" %>
  <%= button_tag "Users", class: "btn_form", id: "btn_users" %>
</div>

<div id="form_voltage">
  <%= render "form_voltage" %>
</div>

<div id="form_info">
  <%= render "form_info" %>
</div>

<div id="form_power">
  <%= render "form_power" %>
</div>

<div id="form_event">
  <%= render "form_event" %>
</div>


<div id="form_lan">
  <%= render "form_lan" %>
</div>


<div id="form_users">
  <%= render "form_users" %>
</div>